127.0.0.1	localhost
{{ hostvars[groups['controller'][0]].ansible_eth0.ipv4.address }} {{ hostvars[groups['controller'][0]].ansible_hostname }}
{{ hostvars[groups['datanode1'][0]].ansible_eth0.ipv4.address }} {{ hostvars[groups['datanode1'][0]].ansible_hostname }}
{{ hostvars[groups['datanode2'][0]].ansible_eth0.ipv4.address }} {{ hostvars[groups['datanode2'][0]].ansible_hostname }}
{{ hostvars[groups['datanode3'][0]].ansible_eth0.ipv4.address }} {{ hostvars[groups['datanode3'][0]].ansible_hostname }}
{{ hostvars[groups['datanode4'][0]].ansible_eth0.ipv4.address }} {{ hostvars[groups['datanode4'][0]].ansible_hostname }}
