---
- name: Top level play for the MapR deployment in DCOS
  hosts: localhost
  
- include: playbooks/spawn-controller.yml
- include: playbooks/hadoop.yml
- include: playbooks/web-config.yml
- include: playbooks/restart-web.yml
{% for host in groups['data_agents'] %}
- include: playbooks/spawn-{{ hostvars[host].container_name }}.yml
{% endfor %}
- include: playbooks/install-controller.yml
- include: playbooks/hosts.yml
- include: playbooks/install-rpcbind.yml
- include: playbooks/benchmarks.yml
- include: playbooks/benchmarks-scripts.yml
- include: playbooks/create-users.yml
#- include: playbooks/create-nfsdir.yml
- include: playbooks/configure-topology.yml
- include: playbooks/projects-mp.yml
- include: playbooks/remove-scripts.yml
