{
  "id": "/{{ hostvars[item].container_name }}",
  "instances": 1,
  "cpus": 2,
  "mem": 5120,
  "disk": 0,
  "constraints": [["hostname", "CLUSTER", "{{ hostvars[item].host_ip }}"]],
  "ipAddress":{
      "networkName":"dcos"
   },
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "maprtech/mapr-data-cent67:5.2.0",
      "privileged": true,
      "parameters": [
                { "key": "hostname", "value": "{{ hostvars[item]['container_name'] }}" }
            ],
      "network": "USER"
    }
  },

  "requirePorts": true,
  "env": {
    "MEMTOTAL":"5120000",
    "CLDBIP":"{{ hostvars[groups['private1'][0]].container_ip }}",
    "DISKLIST":"{{ hostvars[item]['storage'] }}",
    "CLUSTERNAME":"{{ hostvars[groups['private1'][0]].clustername }}"
  }
}

