{
  "id": "/{{ hostvars[groups['private1'][0]].container_name }}",
  "instances": 1,
  "cpus": 2,
  "mem": 5120,
  "disk": 0,
  "labels": {
    "HAPROXY_GROUP":"external",
    "HAPROXY_0_REDIRECT_TO_HTTPS":"true",
    "HAPROXY_0_VHOST": "{{ hostvars[groups['public1'][0]].ansible_eth0['ipv4']['address'] }}"
  },
  "constraints": [["hostname", "CLUSTER", "{{ hostvars[groups['private1'][0]].ansible_eth0['ipv4']['address'] }}"]],
  "ipAddress":{
      "networkName":"dcos"
   },
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "maprtech/mapr-control-cent67:5.2.0",
      "privileged": true,
      "parameters": [
                { "key": "hostname", "value": "{{ hostvars[groups['private1'][0]].container_name }}" }
            ],
      "network": "USER",
      "portMappings": [
         { 
            "containerPort": 8080,  
            "servicePort": 10001, 
            "name": "http"
         },
         {
            "containerPort": 7220,
            "servicePort": 7220,
            "name": "cldb1" 
         },
         {
            "containerPort": 7221,
            "servicePort": 7221,
            "name": "cldb2" 
         },
         {
            "containerPort": 7222,
            "servicePort": 7222,
            "name": "cldb3" 
         },
         {
            "containerPort": 19888,
            "servicePort": 19888,
            "name": "jh2"
         },
         {
            "containerPort": 50030,
            "servicePort": 50030,
            "name": "jt"
         }
      ]
    }
  },

  "healthChecks": [
    {
      "protocol": "TCP",
      "gracePeriodSeconds": 500,
      "intervalSeconds": 15,
      "timeoutSeconds": 5,
      "maxConsecutiveFailures": 20,
      "portName": "http"
    }
  ],
  "env": {
    "MEMTOTAL":"5120000",
    "DISKLIST":"{{ hostvars[groups['private1'][0]].storage }}",
    "CLUSTERNAME":"{{ hostvars[groups['private1'][0]].clustername }}"
  }
}

