{
  "id": "/data1",
  "instances": 1,
  "cpus": 2,
  "mem": 5120,
  "disk": 0,
  "constraints": [["hostname", "CLUSTER", "{{ hostvars[item]['dcos_private'] }}"]],
  "ipAddress":{
      "networkName":"dcos"
   },
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "maprtech/mapr-data-cent67:5.2.0",
      "privileged": true,
      "parameters": [
                { "key": "hostname", "value": "{{ hostvars[item]['ansible_hostname'] }}" }
            ],
      "network": "USER"
    }
  },

  "requirePorts": true,
  "env": {
    "MEMTOTAL":"5120000",
    "CLDBIP":"{{ hostvars[groups['controller'][0]].ansible_eth0.ipv4.address }}",
    "DISKLIST":"{{ hostvars[item]['storage'] }}",
    "CLUSTERNAME":"{{ hostvars[groups['controller'][0]].clustername }}"
  }
}

